/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: lightcoral;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
html{
    scroll-behavior: smooth;
}
/* Dekstop */
@media only screen and (min-width: 992px) {
.logo{
        height: 100%;
        width: 50px;
    }
}
header{
    width: 100%;
}
.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.logo{
    height: 100%;
    width: 50px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}
.menu-item{
    border: 1 px solid black;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: black;
    color: white;
    text-decoration: none;
}
.rumah-title{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    row-gap: 40px;
}
.rumah-title > h1{
    font-size: 50px;
    font-weight: 700;
    padding: 50px;
    text-align: center;
}
.rumah-title > h6{
    font-size: 20px;
    text-align: center;
}
.about{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}


.about-contact{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.about-img{
    height: 100%;
    width: 400px;
}
.content-caption > i{
    color: black;
    font-style: italic;
    margin-bottom: 20px;
}
.content-person{
    display: flex;
    gap: 20px;
    align-items: center;
}
.content-person > img{
    border-radius: 50%;
}
/*
.person-info{
    display: flex;
    align-items: center;
    gap: 20px;
}
*/
.person-info > p{
    color: black;
    font-style: italic;
}
.content-person > p{
    color: gray;
    font-style: italic;
    margin-bottom: 20px;
}
.contact{
    width: 40%;
    color: #fff;
}
.about-infomation > h6{
    font-size: 50px;
    font-weight: 700;
}
.rumahdua-title{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    row-gap: 60px;
    align-items: center;
    background-color: lightskyblue;
}
.rumahempat-title{
    background-color: lightcoral;
}
.rumahdua-title > h1{
    font-size: 50px;
    font-weight: 700;
    text-align : center;
}
.rumahtiga-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.box{
    width: 320px;
    background: white;
    padding: 2rem;
    margin: 1rem 2rem;
    text-align: center;
    border-radius: 10px;
    border: 2px solid transparent;
}
.rumahempat-title{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    row-gap: 40px;
}
.rumahempat-title > h1{
    font-size: 50px;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}
.rumahempat-title > p{
    font-size: 15px;
    text-align: center;
}
.rumahempat-title > form{
    padding: 20px;
    text-align : center;
}
@mwdia only screen and (max-width: 600px) {
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        row-gap: 40px;
    }
}
.footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    row-gap: 40px;
}
.footer > h4{
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    text-align: center;
}
.footer > p{
    font-size: 10px;
    text-align: center;
}
.card{
    background-color: lightslategray;
    width: 150%;
    height: 200px;
}
.about{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}


.about-contact{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.about-img{
    height: 100%;
    width: 400px;
}
.content-caption > p{
    color: gray;
    font-style: italic;
    margin-bottom: 20px;
}
.card-title{
    color: black;
}
.message-form{
    color: black;

}
.label{
    color: black;
}